# Exported variables
export("logKcalc", "readlogK", "logKcomp", "modOBIGT", "addOBIGT")

# Imports from CHNOSZ
importFrom("CHNOSZ", "CHNOSZ")
#importFrom("CHNOSZ", "basis", "protein.basis", "protein.formula",
#           "protein.length", "ZC", "add.protein", "affinity", "diagram",
#           "list2array", "palply", "subcrt", "convert", "label.figure",
#           "aminoacids", "info")
